.event {
    padding-bottom: 60px;
    &__image {
        width: 100%;
        height: 225px;
        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: inherit;
        }
    }
    &__content {
        padding: 16px;
    }
    &__company {
        color: #818C99 !important;
        font-weight: 500 !important;
        margin-bottom: 4px !important;
        display: block;
    }
    &__name {
        margin-bottom: 20px !important;
    }
    &__prop {
        margin-top: 16px;
        ul {
            padding-left: 20px !important;
            margin: 0 !important;
        }
    }
    &__propLabel {
        color: #818C99 !important;
        font-weight: 500 !important;
        margin-bottom: 8px !important;
        display: block;
    }
    &__propIcons {
        margin-bottom: 20px;
    }
    &__propIconWrapper {
        &+& {
            margin-top: 8px;
        }
        display: flex;
        align-items: flex-start;
        min-height: 21px;
        padding: 3px 0;
    }
    &__propIcon {
        width: 20px !important;
        height: 20px !important;
        margin-right: 12px;
        margin-top: 1px;
        color: #99A2AD;
        >div {
            width: inherit;
            height: inherit;
        }
    }
    &__propIconValue {
        font-size: 15px;
        line-height: 20px;
        color: #3D4248;
    }
    &__actions {
        // margin: 20px 0;
        margin-bottom: 54px;
        width: calc(100% - 32px);
        // &:last-child {
        //     margin-top: 40px;
        // }
        background-color: #fff;
        padding: 10px 0;
    }
    &__rqSuccess {
        color: #4BB34B;
        padding: 8px 0;
        display: flex;
        align-items: center;
        >span {
            margin-left: 8px;
        }
    }
}