.storeGoodCard {
    &+& {
        margin-top: 10px;
    }
    &__content {
        padding: 15px;
    }
    &__body {
        display: flex;
        align-items: flex-start;
    }
    &__info {
        padding-right: 20px;
    }
    &__logo {
        margin-left: auto;
    }
    &__cost {
        margin-left: auto;
    }
    &__name {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 3px;
    }
    &__partner {
        font-size: 12px;
        color: #818C99;
        font-weight: 500;
        margin-bottom: 5px;
    }
    &__desc {
        font-size: 14px;
    }
    &__actions {
        margin-top: 15px;
        display: flex;
        align-items: center;
    }
    &__promo {
        background-color: #efefef;
        padding: 8px 16px;
        width: fit-content;
        font-size: 12px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        span {
            margin-left: 6px;
        }
    }
}