.listMetro {
    display: flex;
    flex-wrap: wrap;
    margin-top: -6px;
    margin-left: -6px;
    &__item {
        display: flex;
        align-items: center;
        margin-top: 6px;
        margin-left: 6px;
    }
    &__line {
        margin-right: 4px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
    }
    &__item {
        font-size: 12px;
    }
}