.listBadges {
    display: flex;
    flex-wrap: wrap;
    margin-top: -4px;
    margin-left: -4px;
    &__item {
        margin-top: 4px !important;
        margin-left: 4px !important;
        >div {
            background: rgb(223 238 255) !important;
            border: 1px solid rgb(185 217 255) !important;
        }
    }
}