.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 -2px 4px 2px rgba(0, 0, 0, .05);
    display: flex;
    z-index: 2;
    height: 54px;
    &__item {
        padding: 8px 8px;
        width: 25%;
        text-align: center;
    }
    &__icon {
        text-align: center;
        color: #99A2AD;
        margin-bottom: 5px;
        &.active {
            color: #F04E1B;
        }
        >div {
            margin: 0 auto;
        }
    }
    &__label {
        color: #808080;
        font-size: 11px;
        line-height: 13px;
        &.active {
            color: #F04E1B;
        }
    }
}