.eventCard {
    &+& {
        margin-top: 16px;
    }
    &__image {
        width: 100%;
        height: 225px;
        border-radius: var(--vkui--size_card_border_radius--regular, 8px) var(--vkui--size_card_border_radius--regular, 8px) 0 0;
        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: inherit;
        }
    }
    &__body {
        padding: 16px;
    }
    &__prop {
        margin-top: 16px;
        ul {
            padding-left: 20px !important;
            margin: 0 !important;
        }
    }
    &__propLabel {
        color: #818C99 !important;
        font-weight: 500 !important;
        margin-bottom: 8px !important;
        display: block;
    }
    &__company {
        color: #818C99 !important;
        font-weight: 500 !important;
        margin-bottom: 4px !important;
        display: block;
    }
    &__name {
        margin-bottom: 20px !important;
        color: rgb(0, 119, 255);
        cursor: pointer;
    }
    &__actions {
        margin-top: 24px;
    }
    &__rqSuccess {
        color: #4BB34B;
        padding: 8px 0;
        display: flex;
        align-items: center;
        >span {
            margin-left: 8px;
        }
    }
}