.vkuiSnackbar {
    bottom: 54px !important;
}

.__main {
    /* style = {{paddingBottom: 54, backgroundColor: '#fff', width: '100%', minHeight: 'calc(100vh - 54px)'}} */
    box-sizing: border-box;
    padding-bottom: 54px;
    min-height: 100vh;
    background-color: #fff;
    width: 100%;
}