.myEventCard {
    &+& {
        margin-top: 16px;
    }
    &__body {
        padding: 16px;
    }
    &__prop {
        margin-top: 16px;
        ul {
            padding-left: 20px !important;
            margin: 0 !important;
        }
    }
    &__propLabel {
        color: #818C99 !important;
        font-weight: 500 !important;
        margin-bottom: 8px !important;
        display: block;
    }
    &__name {
        margin-bottom: 20px !important;
        color: rgb(0, 119, 255);
        cursor: pointer;
    }
    &__actions {
        margin-top: 24px;
    }
}